<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-sms-retriever-manager" version="0.0.1">
    <name>Device</name>
    <description>Cordova SMS retriever Manager Plugin</description>
    <license>DEV</license>
    <keywords>cordova, ionic ,SMS, SMS retriever</keywords>
    
    <js-module name="AndroidSmsRetrieverManager" src="www/SmsRetrieverManager.js">
        <clobbers target="cordova.plugins.SmsRetrieverManager" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=3.6.0"></engine>
    </engines>
    <platform name="android">
        <source-file src="src/android/com/codingsans/ionic/sms-retriever/AndroidSmsRetrieverManager.java"
                     target-dir="src/com/codingsans/ionic/sms-retriever"></source-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidSmsRetrieverManager">
                <param name="android-package" value="com.codingsans.ionic.SmsRetrieverManager.AndroidSmsRetrieverManager" />
            </feature>
        </config-file>
    </platform>
</plugin>
