<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-sensor-manager" version="0.0.1">
    <name>Device</name>
    <description>Cordova Sensor Manager Plugin</description>
    <license>MIT</license>
    <keywords>cordova,device,sensors</keywords>
    
    <js-module name="AndroidSensorManager" src="www/sensorManager.js">
        <clobbers target="cordova.plugins.sensorManager" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=3.6.0"></engine>
    </engines>
    <platform name="android">
        <source-file src="src/android/com/codingsans/ionic/sensormanager/AndroidSensorManager.java"
                     target-dir="src/com/codingsans/ionic/sensormanager"></source-file>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidSensorManager">
                <param name="android-package" value="com.codingsans.ionic.sensormanager.AndroidSensorManager" />
            </feature>
        </config-file>
    </platform>
</plugin>
